/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Fredoka', sans-serif;
}
 /* Header */
header {
    text-align: center;
    margin: auto;
    width: 80%;
}

h1 {
    color: #e5316f;
    text-align: center;
    font-weight: 700;
    margin: 20px;;
}

/* Fine Header */

/* Main  */

/* Common */

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

img {
    height: 100px;
}

.container{
    width: 80%;
    margin: auto;
}

.col {
    float: left;
    width: calc( 100% / 3);
    padding: 0 15px;
    background-color: lightgreen;
    color: white;
}

.mini-container {
    padding: 20px;
    display: inline-block;
    position: absolute;
    right: 20px;;
    margin: auto;
    width: 80%;
}

h3 {
 
}


.card {
    background-color: #100e17;
   
}